@import url(http://fonts.googleapis.com/css?family=Lato:300,500);

/* Globals */

h4 {
	font-weight: bold;
	color: #34586e;
	font: 300 1.5em Lato;
	font-weight: bolder;
}


body {
	font: 500 16px/1.2 Lato;
}


/* Navigation Bar */

.top-bar, .contain-to-grid {
	background: white;
	/*-webkit-box-shadow: 0 7px 3px -6px #ccc;
	   -moz-box-shadow: 0 7px 3px -6px #ccc;
	        box-shadow: 0 7px 3px -6px #ccc;*/
}

.top-bar .name h1 a, .top-bar-section ul li > a {

	background: transparent;
	color: #555;
	
	font-size: .5em;
}


.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul {

	background: transparent;
	color: #8C8E90;
	font-size: 12px;
	font-weight: bolder;
}

.top-bar-section ul:hover {
	background: transparent;
	color: #34586e;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: transparent;
	color: #34586e;
	font-weight: bold;
}

.top-bar.expanded .title-area {
	background: transparent;
}

.blurb {
	background: #ddecf9;
	padding: 20px;
	border-radius: 10px;
}

/* Orbit */

.enroll {
	margin-top: 10px;
}

.orbit-container .orbit-slides-container li .orbit-caption {
	top: 400px;
}

footer {
	color: white;
	background-color: #34586e;

}

footer a {
	color: white;
}